<div class="ui secondary pointing menu">
  <a class="active item" href="/">
    Home
  </a>
  <a class="item" href="/events">
    Events
  </a>
  <a class="item" href="/announcements">
    Announcements

  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
