<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>

<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

<script src="semantic/dist/semantic.min.js"></script>

</head>

<body>
{{> menus}}
  <div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical menu">
        <a class="active teal item">
        <div class="ui teal left pointing label">1</div>
        </a>
        <a class="item">
        Spam
        <div class="ui label">51</div>
        </a>
        <a class="item">
        Updates
        <div class="ui label">1</div>
        </a>
        <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search mail...">
          <i class="search icon"></i>
        </div>
        </div>
        </div>
    </div>
  <div class="twelve wide column">  {{message}}</div>
</div>
</body>

</html>
